# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

*.tmp
*.bak
*.swp
*~.nib
*.iml
*.iws
*.ipr
*~

# Android Studio Files
App/.gradle
App/local.properties
App/.idea/workspace.xml
App/.idea/libraries
App/build
App/captures
App/controlem/build
